#everything {
	font-family: Arial, Helvetica, sans-serif;
	/*color: darkslategray;*/
    margin: 100px;
}

#inputs {
    text-align: center;
    margin: 60px auto;
    padding-left: 100px;
	/*line-height: 5em;*/
	list-style-type: none;
	color: teal;
}

#button {
	text-align: center;
}

#no_name_warning,
#inv_email_warning,
#no_email_warning {
	display: none;
}

#tyNote {
    margin: 60px;
    color: darkslategray;
    font-size: 32px;
}

#submitted {
    text-align: center;
    display: none;
}

#outputs {
    margin: 60px auto;
    width: 20%;
	/*line-height: 5em;*/
	list-style-type: none;
	color: teal;
}

.inp {
	margin: 20px auto;
}

.title {
	text-align: center;
	color: darkslategray;
}
